# PDFs apenas na raiz
/*.pdf

# =========================
# Ambiente virtual (qualquer nível)
# =========================
.venv/
venv/
**/.venv/
**/venv/

# =========================
# Python cache (qualquer nível)
# =========================
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# =========================
# Arquivos locais
# =========================
*.log

# dados distribuídos (todos os níveis)
data/
**/data/